

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="divconnecter" style="background-color: #e3f2fd;">
        <h1>Connectez-vous</h1>
        <form action="" [formGroup]="seconnecter">
       <label for="">Entrer votre matricule : <br><input type="number" placeholder="Matricule" formControlName="matricule"></label>
       <br>
       <div class="alert alert-danger" role="alert" *ngIf="!seconnecter.pristine && seconnecter.controls['matricule'].errors?.['required']">
       La matricule est nécessaire!!
      </div>
    
       
    </form>
    <button type="button" (click)="onsubmit(seconnecter.controls['matricule'].value)">Se connecter</button>
    </div>
    
</body>
</html>