<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
       
       <div class="card mb-3 divclass" style="max-width: 540px;" *ngFor="let htl of hotels">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="htl.image" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Hotel {{htl.nom}}</h5>
              <h6 class="card-title">Agence:  {{htl.agence}}</h6>
              
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/> 
              </svg>
              
              <h6 class="card-title"> {{htl.gouvernerat}}</h6>

              <p class="card-text">Prix Nuitée Adulte: {{htl.prixadult}} DT</p>
              <p class="card-text">Prix Nuitée Enfant (< 12ans):  {{htl.prixenfant}} DT</p>
              <p class="card-text">Prix Nuitée Bébé (< 2ans): 0 DT  </p>
              
              <button type="button" class="btn btn-primary btn-sm ">Reserver</button>
            </div>
          </div>
        </div>
      </div>
     
</body>
</html>
